<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="top">
    <%= link_to root_path do %>
      <h1>My First Appの復習</h1>
    <% end %>
    <%= link_to posts_new_path do %>
      <div class="btn">新規投稿</div>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
